.navbar-nav{
    font-family: 'Laila', serif;
}
.b-c{
	background: rgba(87,178,203,1);
	background: -moz-linear-gradient(left, rgba(87,178,203,1) 0%, rgba(68,165,193,1) 41%, rgba(54,133,155,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(87,178,203,1)), color-stop(41%, rgba(68,165,193,1)), color-stop(100%, rgba(54,133,155,1)));
	background: -webkit-linear-gradient(left, rgba(87,178,203,1) 0%, rgba(68,165,193,1) 41%, rgba(54,133,155,1) 100%);
	background: -o-linear-gradient(left, rgba(87,178,203,1) 0%, rgba(68,165,193,1) 41%, rgba(54,133,155,1) 100%);
	background: -ms-linear-gradient(left, rgba(87,178,203,1) 0%, rgba(68,165,193,1) 41%, rgba(54,133,155,1) 100%);
	background: linear-gradient(to right, rgba(87,178,203,1) 0%, rgba(68,165,193,1) 41%, rgba(54,133,155,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57b2cb', endColorstr='#36859b', GradientType=1 );
}
.container-style{
    margin-top: 6%;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
/* align icon */
.left-addon .glyphicon  { left:  15px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px;}